h1 {
    text-align: left;
    font-size: 27px;
    font-family: Helvetica,Arial,sans-serif;
    width: 80%;
    margin: 20px auto;
    margin-top: 40px;
}

h2 {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 17px;
}

p {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    
}

ul {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    list-style-type: none;
    line-height: 2;
    padding-left: 0px;

}

.option {
    width: 75%;
    margin: 10px auto;
    padding: 20px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
}

.option-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
    margin: 10px auto;
}

.flex-left {
    flex: 50%;
    padding-right: 15px;
    text-align: center;
    box-sizing: border-box;
}

.flex-right {
    flex: 50%;
    text-align: left;
}

.option a{
    text-decoration: none;
}

.get {
    margin-top: 15px;
    width: 100%;
    background-color: #222;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    border: 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.cloth-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}